<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/hellomvc/public">Home</a>
        <a href="/hellomvc/public/posts/index">Posts</a>
        <a href="/hellomvc/public/lingkaran/index">Lingkaran</a>
        <a href="/hellomvc/public/eskrims/index">Eskrims</a>
        <a href="/hellomvc/public/vips/index">vips</a>
        <a href="/hellomvc/public/transactions/index">Transaksi</a>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>
